<!DOCTYPE html>
<html lang="en">
  <!--
    This is the home html file for the website. Boostrap was used to make it look nice.
  -->
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>HTIC</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script
      src="https://use.fontawesome.com/releases/v6.1.0/js/all.js"
      crossorigin="anonymous"
    ></script>
    <!-- Google fonts-->
    <link
      href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
      <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/">HTIC</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto py-4 py-lg-0">
            <li class="nav-item">
              <a class="nav-link px-lg-3 py-3 py-lg-4" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-lg-3 py-3 py-lg-4" href="/addperson"
                >Add Person</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Page Header-->
    <header
      class="masthead"
      style="background-image: url('assets/img/ht.jpeg')"
    >
      <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="site-heading">
              <h2 style="text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.384)">
                Human Trafficking Information Center
              </h2>
              <span class="subheading"></span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Main Content-->

    <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <p>
            <b>Welcome to the Human Trafficking Information Center.</b> Every
            year, millions of men, women, and children are trafficked in
            countries around the world, including the United States. It is
            estimated that human trafficking is a $32 billion per year industry,
            second only to drug trafficking as the most profitable form of
            transnational crime. Human trafficking is a hidden crime, as victims
            rarely come forward to seek help because of language barriers, fear
            of the traffickers, and/or fear of law enforcement. Traffickers use
            force, fraud, or coercion to lure their victims and force them into
            labor or commercial sexual exploitation. They look for people who
            are vulnerable for a variety of reasons, including economic
            hardship, natural disasters, or political instability. The trauma
            can be so great that many may not identify themselves as victims or
            ask for help, even in highly public settings. (Source
            <a
              href="https://attorneygeneral.utah.gov/initiatives/human-trafficking/"
              >Attorney General Home</a
            >)
          </p>
          <hr class="my-4" />
          <!-- Divider-->
          <b
            ><a href="/displaypeople"
              >Click Here to View the List of Trafficked People</a
            ></b
          >
          <hr class="my-4" />
          <b><a href="/addperson">Click Here to Add a Person to the List</a></b>
          <hr class="my-4" />
          <h4>
            If you discover any information about someone who is being
            trafficked, call the National Human Trafficking Hotline at
            1-888-373-7888 or text 233733.
          </h4>

          <p>
            Human trafficking is a form of modern slavery that occurs in every
            state, including Utah. The NHTH works closely with service
            providers, law enforcement, and other professionals in Utah to serve
            victims and survivors of trafficking, respond to human trafficking
            cases, and share information and resources. (Source:
            <a href="https://humantraffickinghotline.org/state/utah"
              >Human Trafficking Hotline</a
            >)
          </p>
        </div>
      </div>
    </div>
    <!-- Footer-->
    <footer class="border-top">
      <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="small text-center text-muted fst-italic">
              Copyright &copy; Andrew Naumann, Brandon Brock, Eliza Greer,
              Thiago Moura, and Tanner Lee 2022
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
    <script src="index.js"></script>
  </body>
</html>
